<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
<div class="container">
		<div class="row">
			<div class="col-6">
				<div class="card">
					<div class="card-body">
						<h5 class="card-title">Форма</h5>
						<form action="/admin">
						  <div class="form-group">
						  	<label for="myText">email adress</label>
						  	<input  id="myText"class="form-control"  type="text"></input>
						  </div>
						</form>
					</div>
				</div>
			</div>
			
			<div class="col-6"></div>
		</div>
</div>	




</body>
</html>
