

<p>"Вы вошли в административную панель!"</p>

<p>		ADmin panellllll</p>
<p><% @user_ids.each do |id|%></p>
	<h1>id = <%= id %></h1>
<p><% end %></p>

<table class="table table-striped">
	<% @logfile.each do |line| %>
	<tr><td><%= line %></td></tr>
	<% end %>
</table>



