<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
<div class="container">
		<div class="row">
			<div class="col-6">
				<div class="card">
					<div class="card-body">
						<h5 class="card-title">Вход в административную панель</h5>
						
						<form action="/admin" method="POST">
						  <%= @alert_admin %>
						  <%= @check_numbers %>
						  <div class="form-group">
						  	<label for="myText">Логин</label>
						  	<input  name="login" id="myText" class="form-control" type="text"></input>
						  </div>

						  <div class="form-group">
						  	<label for="myText">Пароль</label>
						  	<input  name="pass" id="myText" class="form-control"  type="password"></input>
						  </div>

						  <div class="form-group">
						  	<br>
						  	<input type="submit">
						  </div>

						  

						</form>
					</div>
				</div>
			</div>
			
			<div class="col-6"></div>
		</div>
</div>	

</body>
</html>
